<h1>{{ book.title }}</h1>

<p>
{{ book.format }}, published at {{ book.initially_published }} with {{ book.wordcount }} words.
</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h4>Add BoD sales data from CSV file</h4>
<form action="{% url 'booksales:add_bod_sales' book.id %}" method="post">
	{% csrf_token %}
	<input type="file" name="bod_sales_filename" value="bod_sales_filename" />
	<input type="submit" name="btn_bod_upload" value="Load BoD data" />
</form>
