{% if book_list %}
<ul>
	{% for book in book_list %}
	<li><a href="/booksales/book/{{ book.id }}/">{{ book.title }}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>Currently, no books seem to be published, yet.</p>
{% endif %}
